body {
    background-color: #FCFCF9;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.search-container {
    margin-bottom: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 30px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-custom {
    border-radius: 25px;
    margin: 5px;
}

.explanation {
    margin-top: 30px;
    text-align: left;
}

.explanation h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.explanation h3 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.explanation p {
    margin-bottom: 10px;
}

.explanation strong {
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input[type="text"] {
    width: 10%;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;
}

form span {
    margin: 0 10px;
    padding-bottom: 5px;
    /* Add padding to adjust vertical alignment */
    display: flex;
    align-items: center;
}

button {
    margin: 0 0px;
    border-radius: 50px;
    /* Rounded edges */
    padding: 10px 20px;
    /* Padding for pill-like shape */
    background: linear-gradient(to right, #eae1d7, #eae1d7);
    /* Muted gradient background */
    border: none;
    /* Remove border */
    color: white;
    /* Text color */
    font-size: 16px;
    /* Font size */
    transition: background 0.3s ease;
    /* Smooth transition */
}

button:hover {
    transform: scale(1.1);
    /* Scale on hover */
}

button:focus {
    outline: none;
    /* Remove focus outline */
}

/* Center text vertically next to buttons */
.d-flex span {
    display: flex;
    align-items: center;
}

/* Style improvements */
.container {
    margin-top: 50px;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"] {
    width: 100%;
    /* Full width for inputs */
    margin-bottom: 15px;
    /* Space between inputs */
    border: 1px solid #ccc;
    /* Light gray border */
    transition: border-color 0.3s ease;
    /* Smooth transition */
}

form input[type="text"]:focus {
    border-color: #007bff;
    /* Border color on focus */
}

.explanation {
    margin-top: 30px;
    text-align: left;
}

.explanation h2,
.explanation h3 {
    color: #333;
    /* Dark text color */
}

.explanation p {
    line-height: 1.6;
    /* Better readability */
}